{
  "sourceType": "module",
  "presets": [
    ["@babel/preset-env", {
      // "modules": "auto",
      // "targets": { "node": true },
      // "debug": true,
      "useBuiltIns": "usage",
      "corejs": 3,
      "targets": {
        "node": "13"
      },
      "modules": "commonjs"
    }],
  ],
  "ignore": ["node_modules"],
  "plugins": [
    ["@babel/plugin-transform-modules-commonjs", {
      "importInterop": "node",
      "allowTopLevelThis": true
    }]
  ]
  // "comments": false,
  // "minified": true
}
