<div class="page centered">
  <form method="post" action="/complete-account">
    <p>Please pick a username</p>
    <input type="hidden" name="destination" value="{{destination}}" />
    <p>
      <input name="username" type="text" placeholder="username" />
    </p>
    <button type="submit">Complete Account</button>
  </form>
  <hr/>
  <a href="/logout">logout</a>
</div>
