<div class="page centered">
  <h3>Login with JLINX</h3>
  <p>check your authenticator app…</p>
</div>

<script>
  (async () => {
    console.log('waiting for signup to be completed')
    const response = await fetch('/login-with-jlinx/wait?username={{username}}&sessionRequestId={{sessionRequestId}}')
    console.log('signup completed', response)
    if (response.status === 200){
      window.location = '/'
    }else{
      console.error('WAIT FAILED', response)
    }
  })().catch(console.error)
</script>
