<page class="page centered">
  <p>
    <input
      type="text"
      value="{{appUserId}}"
      style="width: 27em; font-family: monospace;"
      onclick="this.select()"
      oninput="false"
      readonly
    />
  </p>
  <p>copy the code above and paste into the "new app account" section of your authenticator app</p>
  <p><img src="{{qrcodeDataUri}}"/></p>
</page>

<script>
  (async () => {
    console.log('waiting for signup to be completed')
    const response = await fetch('/signup-with-jlinx/wait?id={{appUserId}}')
    console.log('signup completed', response)
    if (response.status === 200){
      window.location = '/'
    }else{
      console.error('WAIT FAILED', response)
    }
  })().catch(console.error)
</script>
