
{{!-- <textarea style="width: 100vw; height: 100vh;">{{debug}}</textarea> --}}



{{#if currentUser}}
  <h2>Welcome back @{{currentUser.username}}</h2>

{{else}}
  <h5>Welcome New User</h5>
  <form method="post" action="/signup">
    <p>
      <label for="signup-input-username">Signup</label><br/>
      <input required id="signup-input-username"
        pattern="[a-z]{1}[a-z0-9]{3,20}"
        type="text" name="username" placeholder="username" />
      {{!-- <input required type="text" name="realname" placeholder="realname" /> --}}
      <button type="submit" class="btn btn-primary">SIGNUP</button>
    </p>
  </form>

{{/if}}

<hr/>
