<p>
  <input
    type="text"
    value="{{appUserId}}"
    style="width: 48em"
    onclick="this.select()"
    oninput="false"
  />
</p>
<p><img src="{{qrcodeDataUri}}"/></p>
<p>copy the code above and paste into the "new app account" section of your authenticator app</p>


<script>
  (async () => {
    console.log('waiting for signup to be completed')
    const response = await fetch('/signup-with-jlinx/wait?id={{appUserId}}')
    console.log('signup completed', response)
    if (response.status === 200){
      window.location = '/'
    }
  })().catch(console.error)
</script>
