
{{!-- <textarea style="width: 100vw; height: 100vh;">{{debug}}</textarea> --}}



{{#if currentUser}}
  <h2>Welcome back @{{currentUser.username}}</h2>

{{else}}
  <h5>Signup</h5>
  <form method="post" action="/signup-with-jlinx">
    <button type="submit" class="btn btn-primary">Login or Signup with JLINX</button>
  </form>
{{/if}}

<hr/>
