<h3>ZCAP Signup</h3>

<form method="post" action="/zcap-signup">
  <b>DID: {{jlincDid}}</b>
  <input type="hidden" name="jlincDid" value="{{jlincDid}}"/>
  <p>
    <label for="login-input-username">Username</label><br/>
    <input id="login-input-username" type="text" name="username"/>
  </p>
  <button type="submit" class="btn btn-primary">SIGNUP</button>
</form>
